/* 
*
* SITE FONTS 
*
*/

/* text colours */
html {
  color: #3a3a3a;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, 
.uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
h1, h2, h3, h4, h5, h6 {
  color: #0e0e0e;
}

/* fonts */
html,
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, 
.uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

/* font weight */
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, 
.uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
.uk-text-bold, 
.uk-label, 
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/* heading sizes */
.uk-h1, h1 {
  font-size: 2.23125rem;
}
.uk-h2, h2 {
  font-size: 1.7rem;
}
.uk-h3, h3 {
  font-size: 1.5rem;
}
.uk-h4, h4 {
  font-size: 1.25rem;
}
.uk-h5, h5 {
  font-size: 1.125rem;
}
.uk-h5, h5 {
  font-size: 1rem;
}


/* 

UIKIT

*/

/* overlays */
.uk-overlay-secondary {
  background: rgb(52 99 132 / 62%);
}

/* buttons */
.uk-button {
  letter-spacing: 1px;
  font-weight: bold;
}

.uk-button-primary {
  background-color: #008ce1;
  color: #ffffff;
}
.uk-button-primary:focus, .uk-button-primary:hover {
  background-color: #0674b7;
  color: #fff;
}
.uk-button-default {
  background-color: transparent;
  border: 1px solid #0e0e0e;
  color: #0e0e0e;
}

.uk-button-link, 
.uk-button-link:hover, .uk-button-link:focus {
  color: #008ce1;
}

.uk-button-large {
  font-size: .875rem;
  line-height: 45px;
  padding: 0 30px;
  border-width: 2px;
  border-style: solid;
  font-weight: 500;
}

.uk-overlay-secondary .uk-button-primary {
  background-color: #008ce1;
  color: #fff;
}

/* inputs */
.uk-input {
  height: 49px;
  padding-left: 12px;
  padding-right: 12px;
  width: 300px;
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
  border-color: #008ce1;
}

/* links */
.uk-link, a, .uk-link:hover, .uk-link:focus, 
a:hover, a:focus {
  color: #008ce1;
}

/* 

LOGO

*/

.uk-logo {
  font-family: 'Norican', cursive;
  font-size: 4rem;
  transition: color 150ms;
}
.uk-light .uk-logo, .uk-light .uk-logo:hover, .uk-light .uk-logo:focus {
  color: #fff;
}

/* 

COMING SOON

*/

.launch-msg, .social-icons-wrap {
  display: inline-block;
}

.social-icons-wrap {
  margin-left: 15px;
}

.wpcf7 .ajax-loader {
  position: absolute;
  top: 15px;
  /* visibility: visible; */
  background-color: #008ce1;
}

.cover-fit {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* 

RESPONSIVE

*/

/* Phones portrait*/
@media only screen and (max-width: 479px) {
  .launch-msg {
    font-size: .9rem;
  }
  .uk-logo {
    font-size: 2.5rem;
  }
  .launch-heading {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width : 480px) and (max-device-width : 767px) {
  .launch-msg {
    font-size: 1rem;
  }
  .uk-logo {
    font-size: 3rem;
  }
  .launch-heading {
    font-size: 2.5rem;
  }
}
/* Phones landscape */
@media only screen and (max-width: 767px) {
  .uk-button-large {
    margin: 0;
  }
  .uk-input {
    height: 51px;
    width: 160px;
  }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 959px) {
  .launch-msg {
    font-size: 1.2rem;
  }
  .uk-logo {
    font-size: 3.2rem;
  }
  .launch-heading {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 768px) {

}
/* Tablets portrait*/
@media only screen and (max-width: 959px) {

}
@media only screen and (min-width: 960px) {
  .uk-h1, h1 {
    font-size: 2.2rem;
  }
  .uk-h2, h2 {
    font-size: 1.8rem;
  }
  .uk-h3, h3 {
    font-size: 1.6rem;
  }
  .uk-h4, vh4 {
    font-size: 1.4rem;
  }
  .uk-h5, h5 {
    font-size: 1.2rem;
  }
  .uk-h6, h6 {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width : 960px) and (max-device-width : 1199px) {
  .uk-logo {
    font-size: 3.2rem;
  }
}
/* Desktops & tablets landscape*/
@media only screen and (max-width: 1199px) {
  
}
/* Large Desktops */
@media only screen and (min-width: 1200px) {
  .uk-heading-medium {
    font-size: 3.5rem;
  }
}